.activity-chart {
  background: #FBFBFB;
  border-radius: 5px;
  padding: 24px 26px 16px;
  width: 100%;
}

.activity-chart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.activity-chart__title {
  font-size: 15px;
  font-weight: 500;
  color: #20253A;
}

.activity-tooltip {
  background: #E60000;
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
