.key-data {
  background: #FBFBFB;
  border-radius: 5px;
  padding: 3vh 3vw;
  display: flex;
  align-items: center;
  gap: 1.5vw;
  min-width: 0;
}

.key-data__icon-wrapper {
  width: 4vw;
  height: 4vw;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.key-data__icon {
  width: 4vw;
  height: 4vw;
  object-fit: contain;
}

.key-data__info {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.key-data__value {
  font-size: 1.4vw;
  font-weight: 600;
  color: #282D30;
}

.key-data__label {
  font-size: 1vw;
  font-weight: 500;
  color: #74798C;
}