.sessions-chart {
  background: #FF0000;
  border-radius: 5px;
  width: 18vw;
  height: 18vw;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}

.sessions-chart__title {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: 1.2vw;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  max-width: 12vw;
  line-height: 1.4;
  z-index: 1;
}

.sessions-tooltip {
  background: white;
  color: #282D30;
  padding: 0.6vh 0.6vw;
  font-size: 0.9vw;
  font-weight: 500;
}